@import url('https://fonts.googleapis.com/css2?family=Markazi+Text:wght@400;500;700&display=swap');

*, *::before, *::after{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Markazi Text', serif;
  list-style-type: none;
  text-decoration: none;
}

h1 {
  font-size: 64px;
  font-weight: 500;
}

h2 {
  font-size: 40px;
}

p {
  font-size: 16px;
  line-height: 1.5;
}

/* NAVBAR */

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 2% 0;
  border-bottom: 2px solid rgba(0, 0, 0, 0.3)
}

nav {
  flex-basis: 50%
}

header {
  flex-basis: 30%;
  display: flex;
  justify-content: end;
  margin-right: 10%;
  align-items: center;
}

nav {
  display: flex;
  align-items: center;
}

ul {
  display: flex;
  flex-direction: row;
}

li {
  margin-right: 20px;
}

a {
  font-size: 20px;
  color: black;
}