@import url('https://fonts.googleapis.com/css2?family=Markazi+Text:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;500;700&family=Markazi+Text:wght@400;500;700&display=swap');

*, *::before, *::after{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Markazi Text', serif;
  list-style-type: none;
  text-decoration: none;
}

html {
  font-size: 16px;
}

h1 {
  font-size: 64px;
  font-weight: 500;
}

h2 {
  font-size: 40px;
}

p {
  font-size: 16px;
  line-height: 1.5;
  font-family: 'Karla', sans-serif;
}

/* NAVBAR */
.navbar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 1.5% 0;
  border-bottom: 2px solid rgba(0, 0, 0, 0.3)
}

nav {
  flex-basis: 50%
}

header {
  flex-basis: 30%;
  display: flex;
  justify-content: end;
  margin-right: 10%;
  align-items: center;
}

nav {
  display: flex;
  align-items: center;
}

ul {
  display: flex;
  flex-direction: row;
}

li {
  margin-right: 20px;
}

a {
  font-size: 20px;
  color: black;
}

/* HOMEPAGE STYLES */

/* CALL TO ACTION SECTION */
.call-to-action {
  display: grid;
  height: auto;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: auto;
  grid-template-areas:
    ". . item item item item item item item item . .";
  padding: 0 50px;
  background-color: #495E57;
}

.action-items {
  grid-area: item;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.left-content {
  flex-basis: 40%;
}


.left-content h1 {
  color: #F4CE14;
  margin-top: 5px;
}

.left-content h2 {
  color: white;
  font-weight: 400;
  position: relative;
  bottom: 15px;
}

.left-content p {
  color: white;
  font-weight: 500;
  font-size: 18px;
}

.left-content button {
  border-radius: 16px;
  width: 160px;
  height: 40px;
  border: none;
  font-weight: 700;
  font-size: 18px;
  background-color: #F4CE14;
  margin-top: 15px;
  cursor: pointer;
}

.right-content {
  max-height: 35vh;
  width: 28%
}

.right-content img {
  max-width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 16px;
  aspect-ratio: 11/12;
  animation: float 7s infinite;
}

@keyframes float {
  0%, 100% {
    transform: translateY(10%);
  } 50% {
    transform: translateY(20%);
  }
}

/* SPECIALS SECTION */
.specials {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  padding: 0 50px;
  grid-template-rows: auto;
  grid-template-areas:
    ". . top top top top top top top top . ."
    ". . bottom bottom bottom bottom bottom bottom bottom bottom . .";
    margin: 15vh 0 0 0;
}

.top {
  grid-area: top;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5vh;
}

.top h2 {
  font-weight: 500;
  font-size: 48px;
}

.top button {
  background-color: #F4CE14;
  height: 80%;
  border-radius: 16px;
  border: none;
  padding: 0px 20px;
  font-size: 18px;
  cursor: pointer;
  font-weight: 700;
}

.bottom {
  grid-area: bottom;
  display: flex;
  justify-content: space-between;
  gap: 2vw;
}

.bottom > * {
  flex-basis: calc(100%/3);
}

.food-img {
  width: 100%;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  aspect-ratio: 9/7;
  object-fit: cover;
}

.specials-container {
  background-color: #EDEFEE;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  display: flex;
  flex-direction: column;
}

.horizontal {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 3vh;
}

.horizontal h3 {
  font-size: 24px;
}

.horizontal p {
  font-size: 1.1rem;
  color: orange;
  font-weight: 700;
}

.content {
  padding: 6% 10%;
  display: flex;
  flex-direction: column;
  align-content: flex-start;
  height: 100%;
}

.order { 
  display: flex;
  flex-direction: row;
  align-items: center;
  align-self: flex-end;
  margin-top: 3vh;
}

.order p {
  margin: 0 6% 0 0;
}

.lower-half {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.bicycle {
  flex-basis: 12%;
  flex-grow: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bicycle > img {
  width: 100%;
}

/* BOOKING PAGE */
.chef {
  max-height: 35vh;
}

.chef img {
  max-width: 100%;
  height: 35vh;
  object-fit: cover;
  border-radius: 16px;
  aspect-ratio: 11/12;
  animation: float 7s infinite;
}

.form-wrapper {
  background-color: #FBDABB;
  padding: 8% 30%;
}

.form {
  background-color: white;
  padding: 8% 10%;
  border-radius: 16px;
}

.form > label {
  font-size: 1.2rem;
  font-weight: 700;
}

input, select {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 16px;
}

/* Focus Styles */
input:focus, select:focus {
  border-color: #007bff; /* Change to your desired focus color */
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5); /* Change to your desired focus shadow */
  outline: none;
}

/* Error Styles */
input.error, select:focus {
  border-color: #dc3545; /* Change to your desired error color */
}

form > button {
  width: 100%;
  padding: 3% 0;
  background-color: #F4CE14;
  color: black;
  border: none;
  border-radius: 16px;
  cursor: pointer;
}

form > button:disabled {
  background-color: rgba(211, 211, 211, 0.7);
}

button:hover {
  transform: scale(0.99)
}

/* BOOKING CONFIRMATION PAGE */
.booking-confirmation {
  display: flex;
  justify-content: center;
  margin-top: 20vh;
}

.booking-confirmation > * {
  color: green;
}



/* RESPONSIVE SCREEN SIZING */
@media screen and (max-width: 1200px) {
  .call-to-action {
    display: grid;
    height: auto;
    grid-template-columns: repeat(8, 1fr);
    grid-template-areas:
      ". item item item item item item . ";
    padding: 0
  }

  .left-content {
    flex-basis: 50%;
  }

  .right-content {
    max-height: 25vh;
    width: 40%;
  }

  .specials {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    padding: 0 0px;
    grid-template-rows: auto;
    grid-template-areas:
      " .  top top top top top top  ."
      " . bottom bottom bottom bottom bottom bottom .";
      margin: 15vh 0 0 0;
  }

  .chef {
    width: 40%;
    height: 25vh;
  }

  .chef > img {
    height:90%;
  }

  .form-wrapper {
    padding: 8% 15%;
  }
}


@media screen and (max-width: 992px) {
  .left-content {
    margin-bottom: 2vh;
  }

  .navbar {
    justify-content: space-between;
    padding: 1.5% 4%;
    border-bottom: 2px solid rgba(0, 0, 0, 0.3)
  }
  
  nav {
    flex-basis: 80%;
    justify-content: flex-end;
  }
  
  header {
    flex-basis: 20%;
  }
  
}

@media screen and (max-width: 768px) {
  .left-content {
    flex-basis: 60%;
  }

  .specials {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    padding: 0 0px;
    grid-template-rows: auto;
    grid-template-areas:
      " .  top top top top  ."
      " . bottom bottom bottom bottom .";
      margin: 15vh 0 0 0;
  }
}